body{
    background: url(assets/Vector\ 1\ \(1\).png);
}

a{
    text-decoration: none !important;
    /* color: #FFFFFF !important; */
}
  
nav {
    /* width: Hug (1,04px)px; */
    width: 900px;
    height: Hug (51px)px;
    top: 20px;
    padding: 32px 100px;
    gap: 795px;
    opacity: 0px;
    /* color: #FFFFFF !important; */
}

.nav_content {
    margin-left: 400px;
    color: #FFFFFF !important;
}

.navbar {
    left: 180px;
}

.nav-link {
    color: aliceblue !important;
    font-size: large;
    font-weight: 900;
}

.Text {
    width: auto;
    height: 250px;
    margin-left: 24rem;
    margin-top: 9.5rem;
    margin-bottom: 0;
}

.options {
    margin-left: 15rem;
    margin-bottom: 10px;
    margin-top: -7rem;
    color: #FFFFFF !important;
}

.capacity {
    display: flex;
    margin-bottom: 10px;
    width: 290px !important;
    padding:     10px;
    border-radius: 8px;
    border: 2px solid #DEEDCC33;
    opacity: 0px;
    background: #DEEDCC33;
    animation-timing-function: ease-out;
    animation-duration: 300ms;
}

.arrow {
    margin-left: 11rem;
    padding-top: -3px;
    padding-right: 10px;
    top: 633px;
    left: 533px;
    gap: 40px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;
}

.arrow_{
    margin-left: 11.7rem;
}

/* for the payment page */
.payment {
    display: flex;
    margin-bottom: 10px;
    width: 400px !important;
    padding:     10px;
    border-radius: 8px;
    border: 2px solid #DEEDCC33;
    opacity: 0px;
    background: #DEEDCC33;
    color: #FFFFFF;
    animation-timing-function: ease-out;
    animation-duration: 300ms;
}

/* arrow duplicate for easy responsiveness  */
.angle{
    margin-left: 9.7rem;
    padding-top: -3px;
    padding-right: 10px;
    top: 633px;
    left: 533px;
    gap: 40px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;
}

/* For Email page */
#input{
    display: flex;
    margin-bottom: 10px;
    width: 400px !important;
    padding:     10px;
    border-radius: 8px;
    border: 2px solid #DEEDCC33;
    opacity: 0px;
    background: #DEEDCC33;
    animation-timing-function: ease-out;
    animation-duration: 300ms;
}

.Mail_input{
    margin-left: 27rem;
    margin-bottom: 10px;
    margin-top: -7rem;
    color: #FFFFFF !important;
}

.submit{
    width: 200px;
    height: 40px;
    /* height: Hug (14px)px; */
    margin-top: 110px;
    margin-left: 540px;
    padding: 6px;
    gap: 10px;
    border-radius: 8px;
    border: 2px solid #3EB555;
    font-size: 800;
    font-weight: 800;
    opacity: 0px;
    background: #3EB555;
    animation-timing-function: ease-out;
    animation-duration: 300ms;
}

/* for the shipping page */
input{
    display: flex;
    /* margin-bottom: 6px; */
    width: 330px !important;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #DEEDCC33;
    opacity: 0px;
    margin: unset;
    background: #DEEDCC33;
    animation-timing-function: ease-out;
    animation-duration: 300ms;
}

form{
    height: 200px;
}

.form {
    margin-left: 29rem;
    /* margin-bottom: 10px; */
    margin-top: rem;
    color: #FFFFFF !important;
}

#Text {
    width: 250px;
    height: 50px;
    margin-left: 24rem;
    margin-top: 7.5rem;
}

.submit_ship{
    width: 200px;
    height: 40px;
    /* height: Hug (14px)px; */
    margin-top: 155px;
    margin-left: 530px;
    padding: 6px;
    gap: 10px;
    border-radius: 8px;
    border: 2px solid #3EB555;
    font-size: 800;
    font-weight: 800;
    opacity: 0px;
    background: #3EB555;
    animation-timing-function: ease-out;
    animation-duration: 300ms;
}
.drop-down{
    display: flex;
}

.order_placed {
    width: auto;
    height: 50px;
    margin-left: 34rem;
    margin-top: 9.5rem;
    margin-bottom: 0;
}

.thanks{
    margin-left: -4rem;
    height: 100px;
}

.order_message{
    margin-left: -7.9rem;
    height: 100px;
}

.power-ring{
    margin-top: 9.5rem;
}
